# =========================
# Django
# =========================
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3

# =========================
# Environment variables
# =========================
.env

# =========================
# Virtual environment
# =========================
venv/
env/
ENV/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Migrations (optional)
# =========================
migrations/__pycache__/
